*
{
    margin: 0;
}
    .ALO{
        width: 100px;
        height: 100px;
        background-color: black;
        position: absolute;
        top: 10px;
    }
.ALO1{
    width: 100px;
    height: 100px;
    background-color:red;
}
.ALO2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;

}
.container{
    display: flex;

width: 400px;
margin: 0 auto;
margin-top: 50px;
    position: relative;
}